.hello {
      text-decoration: underline;
}

table {
      width: 100%;
}

table thead th {
      text-decoration: underline;
}

.totalPrice {
      margin-top: 50px;
      text-decoration: underline;

}